@{
    Layout = null;
}

@model IEnumerable<RAMViewModel>
@using ComputerSelection.Models

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ram List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400;1,500;1,600&family=Yusei+Magic&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>


<body>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }
        .row, h2 {
            text-align: center;
            font-style: italic;
        }

        .body, h1 {
            text-align: center;
            font-style: italic;
        }

        .navbar {
            display: flex;
            align-items: center;
            padding: 20;
        }


        nav {
            flex: 1;
            text-align: right;
        }

            nav ul {
                display: inline-block;
                list-style-type: none;
            }

                nav ul li {
                    display: inline-block;
                    margin-right: 20px;
                }

        a {
            text-decoration: none;
            color: black;
        }

        p {
            color: black;
        }

        .container {
            max-width: 1300;
            margin: auto;
            padding-left: 25px;
            padding-right: 25px;
        }

        .row {
            margin-left: 50px;
            margin-right: 50px;
        }

        .col-2 {
            flex-basis: 50%;
            min-width: 300px;
        }

            .col-2 img {
                max-width: 100%;
                padding: 50px 0;
            }

            .col-2 h1 {
                font-size: 50px;
                line-height: 60px;
                margin: 25px 0;
            }

        .btn {
            display: inline-block;
            background: darkgreen;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            transition: background 0.5s;
        }

            .btn:hover {
                background: #563434;
            }

        .header {
            background: #E5E7E9;
        }

            .header .row {
                margin-top: 70px;
            }


        .catagories {
            margin: 70px 0;
        }

        .col-2 {
            flex-basis: 40%;
            min-width: 250px;
            margin-bottom: 30px;
        }

            .col-2 img {
                width: 100%;
            }

        .small-container {
            max-width: 1080px;
            margin: auto;
            padding-left: 25px;
            padding-right: 25px;
        }

        .col-4 {
            flex-basis: 25%;
            padding: 10px;
            min-width: 200px;
            margin-bottom: 50px;
            transition: transform 0.5s;
        }

            .col-4 img {
                width: 100%;
            }

        .title {
            text-align: center;
            margin: 0 auto 80 px;
            position: relative;
            line-height: 60px;
            color: #555;
        }

            .title::after {
                content: '';
                background: #ff523b;
                width: 80px;
                height: 5px;
                border-radius: 5px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }


        .body {
            background: url(../Image/LaptopB.png);
            background-size: cover;
        }


        .myTable {
            margin-left: 50px;
            margin-right: 250px;
            background-color: #E5E7E9;
        }
    </style>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="~/Image/log.png" aria-hidden="true" width="125px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li> <a asp-action="CPUList" asp-controller="User">CPU</a> </li>
                        <li> <a asp-action="GPUList" asp-controller="User">GPU</a> </li>
                        <li> <a asp-action="ComputerList" asp-controller="User">COMPUTERS</a> </li>
                        <li> <a asp-action="RamList" asp-controller="User">RAM</a> </li>
                        <li> <a asp-action="SSDList" asp-controller="User">SSD</a> </li>
                        <li> <a asp-action="HardDiskList" asp-controller="User">HDD</a> </li>
                        <li> <a asp-action="MainboardList" asp-controller="User">MAINBOARD</a> </li>
                        <li> <a asp-action="SystemRequirementList" asp-controller="User">SYSTEM REQUIREMENTS</a> </li>
                    </ul>
                </nav>
                <a asp-action="Login" asp-controller="Home"><i class="fa fa-desktop" aria-hidden="true"></i></a>
            </div>

        </div>
    </div>


    <div class="body">

        <h1 id="Baslik">You can search easly and see all RAMList</h1>



        <div class="row">
            <h2>You can search Memory Capacity
                <p>Type something in the input field to search the table for Memory Capacity:</p>
            </h2>

            

            <input class="form-control" id="myInput" type="text" onkeyup="search()" placeholder="Search..">
            <br>
            <table class="table table-bordered table-striped table-condensed" id="myTable">
                <thead>
                    <tr>
                        <th>Model</th>
                        <th>Usage Type</th>
                        <th>Memory Types</th>
                        <th>Memory Capacity</th>
                        <th>Memory Speed</th>
                        <th>Delay Time</th>
                        <th>Kit Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Model)</td>
                            <td>@Html.DisplayFor(modelItem => item.Usage_Type)</td>
                            <td>@Html.DisplayFor(modelItem => item.Memory_Types)</td>
                            <td>@Html.DisplayFor(modelItem => item.Memory_Capacity)</td>
                            <td>@Html.DisplayFor(modelItem => item.Memory_Speed)</td>
                            <td>@Html.DisplayFor(modelItem => item.Delay_Time)</td>
                            <td>@Html.DisplayFor(modelItem => item.Kit_Type)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br /> <br />
        </div>
    </div>
    <script>
        function search() {
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>

</html>

@section scripts
    {

    <script src="~/js/user-index.js" asp-append-version="true"></script>
}