@{
    Layout = null;
}
@model SelectDesktopViewModel



<!DOCTYPE html>
<html lang="en">

<head>
    <title>Desktops</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400;1,500;1,600&family=Yusei+Magic&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>


<body>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }

        .navbar {
            display: flex;
            align-items: center;
            padding: 20;
        }


        nav {
            flex: 1;
            text-align: right;
        }

            nav ul {
                display: inline-block;
                list-style-type: none;
            }

                nav ul li {
                    display: inline-block;
                    margin-right: 20px;
                }

        a {
            text-decoration: none;
            color: black;
        }

        p {
            color: black;
        }

        .container {
            max-width: 1300;
            margin: auto;
            padding-left: 25px;
            padding-right: 25px;
        }

        .row {
            align-items: center;
            margin-left: 50px;
            margin-right: 50px;
            justify-content: space-around;
        }

        .col-2 {
            flex-basis: 20%;
            min-width: 300px;
        }

            .col-2 img {
                max-width: 100%;
                padding: 50px 0;
            }

            .col-2 h1 {
                font-size: 50px;
                line-height: 60px;
                margin: 25px 0;
            }

        .btn {
            display: inline-block;
            background: #ff523b;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            transition: background 0.5s;
        }

            .btn:hover {
                background: #563434;
            }

        .header {
            background: #E5E7E9;
        }

            .header .row {
                margin-top: 70px;
            }


        .catagories {
            margin: 70px 0;
        }

        .col-2 {
            flex-basis: 20%;
            min-width: 250px;
            margin-bottom: 30px;
        }

            .col-2 img {
                width: 100%;
            }

        .small-container {
            max-width: 1080px;
            margin: auto;
            padding-left: 25px;
            padding-right: 25px;
        }

        .col-4 {
            flex-basis: 25%;
            padding: 10px;
            min-width: 200px;
            margin-bottom: 50px;
            transition: transform 0.5s;
        }

            .col-4 img {
                width: 100%;
            }

        .title {
            text-align: center;
            margin: 0 auto 80 px;
            position: relative;
            line-height: 60px;
            color: #555;
        }

            .title::after {
                content: '';
                background: #ff523b;
                width: 80px;
                height: 5px;
                border-radius: 5px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }


        .body {
            background: url(../Image/LaptopB.png);
            background-size: cover;
        }
    </style>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="~/Image/log.png" aria-hidden="true" width="125px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li> <a asp-action="CPUList" asp-controller="User">CPU</a> </li>
                        <li> <a asp-action="GPUList" asp-controller="User">GPU</a> </li>
                        <li> <a asp-action="ComputerList" asp-controller="User">COMPUTERS</a> </li>
                        <li> <a asp-action="SystemRequirementList" asp-controller="User">SYS REQUIREMENTS</a> </li>
                        <li> <a asp-action="RamList" asp-controller="User">RAM</a> </li>
                        <li> <a asp-action="SSDList" asp-controller="User">SSD</a> </li>
                        <li> <a asp-action="HardDiskList" asp-controller="User">HDD</a> </li>
                        <li> <a asp-action="MainboardList" asp-controller="User">MAINBOARD</a> </li>
                    </ul>
                </nav>
                <i class="fa fa-desktop" aria-hidden="true"></i>
            </div>

        </div>
    </div>


    <div class="body">

        <style>


            .mySearch {
                width: 100%;
                font-size: 18px;
                padding: 11px;
                border: 1px solid #ddd;
            }

            .row {
                position: relative;
            }


            .col-2 {
                height: 300px;
                overflow: auto;
                margin-top: 20px;
            }

            .table {
                width: 100%;
            }

                .table * {
                    background-color: #E5E7E9;
                    color: black;
                }

                .table thead th .row1 {
                    position: absolute;
                    top: -20px;
                    z-index: 2;
                    height: 20px;
                    width: 35%;
                    border: 1px solid red;
                }

                .table td:hover {
                    background-color: #ccc;
                }

                .table td.active {
                    background-color: #4CAF50;
                    color: white;
                }
        </style>

        <br /> <br /> <br /> <br />

        <div class="row">
            <h2>CPU Lists</h2>
            <input class="mySearch" type="text" id="mySearchCpu" onkeyup="Cpu()" placeholder="Search CPU"
                   title="Type in a category">
            <div class="col-2">

                <table id="MyCpuTable" class="table">
                    <thead>
                        <tr>
                            <th class="row1">Model </th>
                            <th class="row1">Cpu Core </th>
                            <th class="row1">Rank </th>
                            <th class="row1">Selected</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.cpulist)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                <td>@Html.DisplayFor(modelItem => item.CpuCore)</td>
                                <td>@Html.DisplayFor(modelItem => item.Rank)</td>
                                <td><input type="checkbox" id="selectCPU" name="select" value="@item.SocketType" onclick="eb(this)"></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

            <h2>GPU Lists</h2>
            <input class="mySearch" type="text" id="mySearchGpu" onkeyup="Gpu()" placeholder="Search Gpu"
                   title="Type in a category">
            <div class="col-2">


                <table id="MyGpuTable" class="table">
                    <thead>
                        <tr>
                            <th>Model</th>
                            <th>Company</th>
                            <th>Rank</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.gpulist)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                <td>@Html.DisplayFor(modelItem => item.Company)</td>
                                <td>@Html.DisplayFor(modelItem => item.Rank)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

       


        
            <h2>Maindboard</h2>
            <input class="mySearch" type="text" id="mySearchMainBoard" onkeyup="MainBoard()" placeholder="Search MainBoard"
                   title="Type in a category">
            <div class="col-2">

                <table id="MyMainBoardTable"class="table">
                    <thead>
                        <tr>
                            <th>Model</th>
                            <th>Socket Structure</th>
                            <th>Casing </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.mainboardlist)
                        {
                            <tr class="mainboard" value="@item.SocketStructure" name="@item.SocketStructure">
                                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                <td>@Html.DisplayFor(modelItem => item.SocketStructure)</td>
                                <td>@Html.DisplayFor(modelItem => item.CasingStructure)</td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>

            <h2>Ram List</h2>
            <input class="mySearch" type="text" id="mySearchRam" onkeyup="Ram()" placeholder="Search Ram"
                   title="Type in a category">
            <div class="col-2">

                <table id="MyRamTable" class="table">
                    <thead>
                        <tr>
                            <th>Model</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ramlist)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>


    </div>


    <script>
        /*   <td><input type="checkbox" id="selectCPU" name="select" value=pe" onclick="eb()"></td>*/

        function changeColor(e) {

            var t = document.getElementsByClassName("mainboard");
            for (var i = 0; i < t.length; i++) {
                var et = t[i].value;
                console.log(e);
                if (et == e) {
                    t[i].style.display = "none";
                }
                else {
                    t[i].style.display = "";
                }
            }
        }

        arr = [];
        function eb(elem) {

            var t = document.getElementsByClassName("mainboard");
            for (var i = 0; i < t.length; i++) {
                var tempdata;
                tempdata = t[i].getAttribute('value');

                if (tempdata == elem.value) {
                    console.log("if in içinde ");
                    t[i].style.display = "none";
                }
                else {
                    t[i].style.display = "";
                }
            }
            arr.push(elem.value);
        }


        function Cpu() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("mySearchCpu");
            filter = input.value.toUpperCase();
            table = document.getElementById("MyCpuTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        function Gpu() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("mySearchGpu");
            filter = input.value.toUpperCase();
            table = document.getElementById("MyGpuTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


        function MainBoard() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("mySearchMainBoard");
            filter = input.value.toUpperCase();
            table = document.getElementById("MyMainBoardTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


        function Ram() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("mySearchRam");
            filter = input.value.toUpperCase();
            table = document.getElementById("MyRamTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


    </script>
    

</body>

</html>

@section scripts
{

    <script src="~/js/user-index.js" asp-append-version="true"></script>
}